$primary: #5aaa84;
$secondary: #7cd566;
$black: #000;
$white: #fff;
$gray: #828282;
$light-gray: #eee;
$checked: #70c4e5;

$padding: .5rem;
$photo-dimensions: 4rem;
$badge-dimensions: 1.313rem;
$default-fill: 1.25rem;

$border-rounded: 50%;